
.container {
    height: 600px;
    width: 400px;
    background-image: url(../images/cookies.jpg);
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: self-end;
}

#cookie_plate {
    height: 350px;
    width: 400px;
}

#cookie_plate:hover {
    cursor: pointer;
}

#heading {
    margin-top: 100px;
    line-height: 40px;
}